*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
body , html{
    height: 100%;
    width: 100%;
    background-color: #000;
}
.img_container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
img{
    height: 95%;
}
h1{
    color: #fff;
font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  width: 100%;
  text-align: center;
}
h1 span{
  font-size: 36px;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.btn button{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 149, 187, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 132, 0.15) 0 1px 2px,rgba(44, 94, 187, 0.15) 0 2px 4px,rgba(44, 80, 187, 0.15) 0 4px 8px,rgba(187, 44, 170, 0.15) 0 8px 16px,rgba(187, 44, 125, 0.15) 0 16px 32px;
  background: rgb(39,167,208);
  background: linear-gradient(100deg, rgba(39,167,208,1) 28%, rgba(255,0,134,1) 100%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn button:hover {
    box-shadow: rgba(44, 149, 187, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 132, 0.15) 0 1px 2px,rgba(44, 94, 187, 0.15) 0 2px 4px,rgba(44, 80, 187, 0.15) 0 4px 8px,rgba(187, 44, 170, 0.15) 0 8px 16px,rgba(187, 44, 125, 0.15) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.gif{
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 2rem;
}